@import "../../../styles/Globals.scss";

.container{
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    //min-width: 100%;
    //padding: 1rem 0 0 4rem;
    color: $light-color;
    margin: 0;
    & .title{
        font-size: $title-M;
        letter-spacing: 2.5px;
    }
    & .subtitle{
        font-size: $subtitle-M;
        margin: 0;
    }
    & .description{
        font-size: $description-M;
        margin: 0.5rem 0;
        font-style: italic;
    }
}