.task{
    font-family: 'Lato', sans-serif;
    margin-block: 0.5rem;
    display: flex;
    flex-direction: column;
    max-width: 67%;
    min-height: 13rem;
    background-color: #48416b;
    color: rgb(226, 225, 225);
    border-radius: 1rem;
    box-shadow: 0 6px 16px rgba(0,0,0,.1);
    //padding: 1rem;
    & .title{
        min-width: 25%;
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 0.5rem 1rem;
        color: #edbf8c;
        font-size: 1.85rem;
        font-weight: 700;
        letter-spacing: 3px;
    }
    & .durationContainer{
        margin: 0.5rem 1.5rem 1.5rem 1.5rem;
        border-radius: 0.5rem;
        padding: 1rem;
        background-color: #373159;
    & .description{
        margin: 1rem 1rem 0 1rem;
        margin: 1rem;
        font-size: 1.2rem;
    }
    & .response{
        font-size: 1.2rem;
        margin: 1rem;
        & .answer{
            color: #edbf8c;
        }
    }
    & .duration{
        font-size: 1.2rem;
        margin: 1rem 1rem;
        & .time{
            font-weight: bold;
            font-size: 0.9rem;
            color: #edbf8c;
            }
    }
    }


}