@import '../../../styles/Globals.scss';


.container{
    color: $light-color;
    background-color: $dark-color;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 2rem 0 0 4rem;
    & .title{
        font-size: $title-L;
        letter-spacing: 3px;
        color: $accent-color;
        font-family: 'lato', sans-serif;
        font-weight: 700;
        margin-block: 1rem;
    }
    & .subtitlesContainer{
        background-color: $mid-color;
        padding: 1.5rem;
        max-width: 65%;
        margin-block: 2rem;
        border-radius: 1rem;
        box-shadow: 0 6px 16px rgba(0,0,0,.1);
        & .subtitle{
            font-size: $subtitle-S;
            margin: 0.5rem;
            letter-spacing: 2px;
        }
        & .description{
            font-size: $description-M;
            font-style: italic;
            font-weight: 100;
            margin: 0.5rem;
        }
    }
    
    & .video{
        max-width: 75%;
    }
    & .transcriptionContainer{
        display: flex;
        flex-direction: column;
        background-color: $accent-color;
        margin-block: 2rem;
        padding: 2.5rem;
        max-width: 60%;
        min-height: 13rem;
        border-radius: 1rem;
        box-shadow: 0 6px 16px rgba(0,0,0,.1);
        & .transcription{
            font-size: $title-M;
            margin: 0.5rem;
            letter-spacing: 2px;
            color:  $mid-color;
        }
        & .transcriptionContent{
            margin: 1rem 1rem 0 1rem;
            font-size: $text-M;
            max-width: 75%;
            max-height: 15rem;
            overflow: scroll;
            line-height: 22.4px;
            color: $dark-color;
        }
    }
    
}